busybox
busybox.gdb
busybox.links
busybox.map
busybox_unstripped
busybox_unstripped.gdb
libbusybox.so*
_install
.config
.menuconfig.log
.config.cmd
.config.old
.depend
.hdepend
.kernelrelease
.kconfig.d
.busybox_unstripped.cmd
.tmp_versions
*.a
